<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context-2.5.xsd">

    <context:component-scan base-package="com.epam.dal"/>
    <context:annotation-config/>

    <bean class="org.springframework.orm.jpa.support.PersistenceAnnotationBeanPostProcessor"/>

    <bean id="hsqlStarter" class="com.epam.db.HsqlInit" init-method="start" destroy-method="stop"/>

    <bean id="hsqlConnection" class="com.epam.db.HsqlInit" factory-method="createConnection"/>

    <bean id="testController" class="com.epam.processor.AccidentsControllerBasicImpl" autowire="byType"/>

    <bean id="accidentService" class="com.epam.dbservice.AccidentDBServiceImpl"/>

    <bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean" depends-on="hsqlStarter">
        <property name="persistenceUnitName" value="defaultPU" />
        <property name="persistenceXmlLocation" value="classpath:spring/persistence.xml"/>
    </bean>

    <bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
        <property name="entityManagerFactory" ref="entityManagerFactory" />
    </bean>

    <bean id="persistenceExceptionTranslationPostProcessor"
          class="org.springframework.dao.annotation.PersistenceExceptionTranslationPostProcessor" />


</beans>